@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@font-face {
  font-family: "askanitalic";
  src: url("./font/hoftype__askan_italic-webfont.woff2") format("woff2"), url("./font/hoftype__askan_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

ul li {
  list-style-type: none;
  display: block;
}

:root {
  --global-color-background: rgb(248, 248, 248);
  --global-color-grey-light: rgb(165, 165, 165);
  --global-color-grey-dark: rgb(84, 91, 94);
  --global-padding-left-right: 15rem;
  --website-info-column-width: 46%;
  --btn-color-blue: rgb(0, 140, 255);
  --btn-color-orange: rgb(255, 187, 0);
  --btn-color-green: rgb(98, 202, 0);
}

p {
  line-height: 1.5rem;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.btn {
  cursor: pointer;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Spectral", serif;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.App {
  width: 100%;
  height: 100%;
}

.overflow-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
}

.overflow-wrapper .website-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
  height: 750px;
  width: 1100px;
}

.interactive-map-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.map-title {
  right: 0;
  top: 40px;
  position: absolute;
  width: 500px;
  text-align: center;
  line-height: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.languages-container {
  position: absolute;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
  left: 100%;
}

.languages-container .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 35px;
  background-color: white;
  border: 1px solid #dadada;
  font-size: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "askanitalic";
}

.languages-container .btn:nth-child(1) {
  margin-right: 30px;
}

.languages-container .button-language-clicked {
  background-color: #a1c485;
}

.grey-overlay {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(161, 161, 161, 0.95);
  z-index: 4;
}

.grey-overlay .language-selection-container {
  background-color: white;
  font-size: 30px;
  padding: 20px;
}

.grey-overlay .language-selection-container .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grey-overlay .language-selection-container .btn-container .btn {
  border: 2px solid black;
  padding: 0 10px;
  margin: 0 10px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.grey-overlay .language-selection-container .btn-container .btn:hover {
  background-color: black;
  color: white;
}

.map-images-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.map-images-container .image {
  width: 100%;
  height: 100%;
  background-position: bottom;
  background-size: contain;
  background-size: 100% 96%;
  background-repeat: no-repeat;
}

.map-images-container .map-image {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-image: url("./images/map.png");
  z-index: 2;
}

.map-images-container .river-image {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-image: url("./images/map_river2.gif");
  z-index: 1;
}

.legend-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  bottom: 20px;
  left: 0px;
  z-index: 2;
}

.legend-container .legend-title {
  font-size: 25px;
  font-family: "askanitalic";
  margin-bottom: 20px;
  margin-left: 20px;
}

.legend-container .icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 250px;
}

.legend-container .icons-container .legend-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 10px;
  height: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.legend-container .icons-container .legend-item .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 40px;
  width: 120px;
}

.legend-container .icons-container .legend-item .icon-container .icon {
  height: 100%;
  width: 40px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.legend-container .icons-container .legend-item .name {
  margin-left: 10px;
  line-height: 18px;
  width: 180px;
}

.legend-container .icons-container .legend-item:nth-child(2) .icon-container .icon,
.legend-container .icons-container .legend-item:nth-child(4) .icon-container .icon {
  width: 120px;
}

.legend-container .icons-container .legend-item:nth-child(6) .icon-container,
.legend-container .icons-container .legend-item:nth-child(7) .icon-container,
.legend-container .icons-container .legend-item:nth-child(8) .icon-container,
.legend-container .icons-container .legend-item:nth-child(9) .icon-container,
.legend-container .icons-container .legend-item:nth-child(10) .icon-container {
  width: 40px;
}

.active-icons-container {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.active-icons-container .active-icon {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.active-icons-container .active-icon .icon-title {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  top: -30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  background-color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  display: none;
}

.active-icons-container .active-icon .icon-scale {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.active-icons-container .active-icon .icon-scale .icon-rotation {
  width: 100%;
  height: 100%;
}

.active-icons-container .active-icon .icon-scale .icon-rotation .icon {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-animation: active-icon-animation;
          animation: active-icon-animation;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes active-icon-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes active-icon-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.active-icons-container .active-icon-stop .icon-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.active-icons-container .active-icon-stop .icon-scale {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.active-icons-container .icons-stop .icon-scale .icon-rotation .icon {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.active-icons-container .active-icon:nth-child(1) {
  top: 5%;
  left: 13%;
}

.active-icons-container .active-icon:nth-child(2) {
  top: 17%;
  left: 51%;
}

.active-icons-container .active-icon:nth-child(3) {
  top: 18%;
  left: 63%;
}

.active-icons-container .active-icon:nth-child(4) {
  top: 31%;
  left: 62%;
}

.active-icons-container .active-icon:nth-child(5) {
  top: 34%;
  left: 49%;
}

.active-icons-container .active-icon:nth-child(6) {
  top: 44%;
  left: 72%;
}

.active-icons-container .active-icon:nth-child(7) {
  top: 49%;
  left: 55%;
}

.active-icons-container .active-icon:nth-child(8) {
  top: 76%;
  left: 62%;
}

.warning-screen-container {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 300px;
  width: 500px;
  z-index: 3;
}

.warning-screen-container .warning-screen-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--global-color-background);
  border: 2px solid grey;
  font-size: 20px;
}

.warning-screen-container .warning-screen-content .warning-text {
  margin-bottom: 20px;
}

.warning-screen-container .warning-screen-content .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0;
  top: 0;
  padding: 10px 20px;
  border: 1px solid black;
  background-color: white;
  z-index: 2;
}

.warning-screen-container .warning-screen-content .btn:hover {
  background-color: black;
  color: white;
}

.warning-screen-container .warning-screen-content .btn-close {
  position: absolute;
}

.modal-window-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: white;
  z-index: 3;
  border: 2px solid black;
}

.modal-window-container .modal-window-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.modal-window-container .modal-window-content .btn-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 20px;
  border: 1px solid black;
  background-color: white;
  z-index: 2;
}

.modal-window-container .modal-window-content .virtual-reality-frame-container {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modal-window-container .modal-window-content .virtual-reality-frame-container iframe {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1024px) {
  .overflow-wrapper .website-wrapper {
    height: 600px;
    width: 900px;
  }
}
/*# sourceMappingURL=index.css.map */